.navlogo{
width:50px;
}
nav{
  height: 50%;
}
body{
  background: snow-white;
}
nav{
  background-color: black;
  margin-top: 10px;
}
.LIST{
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  flex-direction: row;
}
button{
  text-align: center;
  margin: 20px;
}
