body{
  text-align: center;
  background-color: lavender;
}
div1{
  margin: 5px;
  position: relative;
}
h1{
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  font-family:serif;
}
p{
position: absolute;
top: 10%;
left: 20%;
right: 20%;
bottom: 20%;
color: white;
font-size: 30px;
font-weight:normal;
font-family:serif;
padding-top:120px;
}
